.featured-case {

	color: @white;

	.container {
		position: relative;
		top: 50%;
		height: 50%;
	}

	a { color: @brand-blue; }

	figure {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}