// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  padding: 0;
  // .sidebar-primary & {
  //   .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  // }
}

// General

.fullsize {
	.container {
		position: relative;
		top: 25%;
	}
}

.center {
	text-align: center;
	.make-sm-column(8);
	.make-sm-column-offset(2);
}

.air { padding: 50px 0; }

.overlay{
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: @overlay-black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.news-item,
.overlay article {
	color: @white;
}

.btn, button,
input[type="button"],
input[type="submit"] {
	background: none;
	.transition(background-color .25s);
	&:hover {
		background-color: hsla(0,100%,100%,.2);
	}
	&, &:hover, &:focus, &:active {
		color: @white;
	}
}

// main.main {
// 	.page &, .single &, .blog & {
// 		margin-top: 100px;
// 	}
// 	.home.page & {
// 		margin-top: 0px;
// 	}
// }