.sitenav {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -110%;
	left: 0;
	z-index: 50;
	// background-color: @brand-blue;
	#translucent .background(@brand-blue, .95);
	.transition(all .25s);

	// &.visible { top: 0; }

	li a {
		.transition(all .25s);
		&:hover {
			color: darken(@brand-blue, 20%);
		}
	}
}

.sitenav-visible {
	// overflow-y: hidden;
	.sitenav {
		top: 0;
	}
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 40px 40px 0;

	img { height: 20px; }

	.logo {
		float: left;
		// &:before { .cn-icon(@cn-cloudnine); }
		&:before { .cn-icon(); }
	}

	.nav-btn {
		float: right;
		&.nav-show {
			&:before { .cn-icon(@cn-menu-open); }
		}
		&.nav-hide {
			&:before { .cn-icon(@cn-menu-close); }
			display: none;
		}
	}

	a {
		&:before { color: @white; }
		&:hover { text-decoration: none; }
	}
}

.banner a:before {
	.page &, .single &, .blog & {
		color: @black;
	}
	.home.page & {
		color: @white;
	}
}

.page-header {
	color: red;
}