section {
	.clearfix();
	&, article {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
	}
}

.quote {
	article {
		.content;
		.make-sm-column(8);
		.make-sm-column-offset(2);
	}
	a { color: @brand-blue; }
	img {
		width: 150px;
		margin-bottom: 25px;
	}
	p { margin-bottom: 0; }
}

.news-item {
	.make-sm-column(6);
	@padding: 75px;
	height: 400px;
	padding: @padding;
	color: @white;
	position: relative;
	background-position: center top;

	p {
		margin: 0;
		position: absolute;
		bottom: @padding;
	}
}

.about {
	background-image: url('@{img-path}/bigimage2.png');

	article {
		.content;
		.make-sm-column(8);
		.make-sm-column-offset(2);
		color: @white;
	}
}

.people {
	background-image: url('@{img-path}/videoexample.png');
}

.career {
	background-color: @brand-pink;
	background-image: url('@{img-path}/bg_pink_small.svg');
	background-size: contain;
	background-repeat: repeat;
}